%form{:method => 'post', :action => '/links'}
  Shorten this:
  %input{:type => 'text', :name => 'original', :size => '70'} 
  %input{:type => 'submit', :value => 'now!'}
  %br
  to 
  = raw "http://#{request.env["HTTP_HOST"]}/"
  %input{:type => 'text', :name => 'custom', :size => '20'} 
  (optional)
